.button {
    position: fixed;
    background-color: #dddddd;
    border-style: solid;
    border-width: 0px;
    border-color: white;
    font-family: "nowayregular", sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 6px 16px;
    height: 36px;
    width: 371px;
}

.button:hover {
    background: #3c4853;
    color: white;
    cursor: pointer;
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: #3c4853;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

input {
    font-family: monospace;
    border: 0px solid #999;
    background-color: #eeeeee;
    color: #000000;
    padding: 6px;
    resize: none;
    width: 90%;
}

form {
    display: block;
}

.login {
    margin: auto;
    width: 400px;
    margin-top: 200px;
    border: 1px solid #999;
}

.contents {
    width: 100%;
    padding: 12px;
    display: block;
}

.login-label {
    font-family: "nowayregular", sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    color: black;
    padding: 2px;
}

.login-signup {
    font-weight: normal;
    font-style: normal;
    color: black;
    margin-top: 15px;
    margin-bottom: -20px;
}